<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" width="150" alt="Angular Logo">
        </a>

        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- routerLink thay cho href để tạo single page -->
                    <!-- routerLinkActive để thể hiện router tương ứng được sử, nên đặt cùng với routerLink để nó dễ tìm thấy nhau để hiển thị-->
                    <a class="nav-link" routerLinkActive="active" routerLink="/todos">Todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/settings">Nested Router</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/lazy">Lazy Loadding</a>
                </li>
            </ul>
        </div>
    </div>

</nav>